<div class="container">
    <div class="report-n13-header">
        N-13 : รายงาน Block คืน กสทช. ที่มีเลขหมาย Active
    </div>
    <div class="line"></div>
    <div class="report-n13-container" *ngIf="loading; else container">
        <div class="data-rows">
            <div class="data" style="width: 30%; margin-left: 20px;"><div class="data-text"><b>ที่</b></div></div>
            <div class="data" style="width: 30%"><div class="data-text"><b>Block ID</b></div></div>
            <div class="data" style="width: 30%"><div class="data-text"><b>หมายเลขเริ่มต้น</b></div></div>
            <div class="data" style="width: 30%"><div class="data-text"><b>หมายเลขสิ้นสุด</b></div></div>
            <div class="data" style="width: 30%"><div class="data-text"><b>สถานะ Block</b></div></div>
            <div class="data"><div class="data-text"><b>เอกสารอ้างอิง</b></div></div>
            <div class="number-amount-group" style="margin-right: 10px;">
                <div class="data" style="width: 96%; justify-content: center;"><div class="data-text"><b>จำนวนเลขหมาย</b></div></div>
                    <div class="number-amount-subgroup">
                        <div class="data"><div class="data-text"><b>ทั้งหมด</b></div></div>
                        <div class="data"><div class="data-text"><b>Assigned</b></div></div>
                        <div class="data"><div class="data-text"><b>Active</b></div></div>
                </div>
            </div>
        </div>
        <div *ngFor="let item of [1,2,3,4]">
            <div class="data-rows">
                <div class="data" style="width: 30%; margin-left: 20px;"><div class="data-text"><p-skeleton width="70px"></p-skeleton></div></div>
                <div class="data" style="width: 30%"><div class="data-text"><p-skeleton width="70px"></p-skeleton></div></div>
                <div class="data" style="width: 30%"><div class="data-text"><p-skeleton width="70px"></p-skeleton></div></div>
                <div class="data" style="width: 30%"><div class="data-text"><p-skeleton width="70px"></p-skeleton></div></div>
                <div class="data" style="width: 30%"><div class="data-text" style="color: red;"><p-skeleton width="70px"></p-skeleton></div></div>
                <div class="data"><div class="data-text" style="color: red;"><p-skeleton width="250px"></p-skeleton></div></div>
                <div class="number-amount-group" style="margin-right: 10px;">
                        <div class="number-amount-subgroup">
                            <div class="data"><div class="data-text"><p-skeleton width="30px"></p-skeleton></div></div>
                            <div class="data"><div class="data-text"><p-skeleton width="30px"></p-skeleton></div></div>
                            <div class="data"><div class="data-text"><p-skeleton width="30px"></p-skeleton></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-rows">
            <div class="data" style="width: 316%; margin-left: 20px;"><div class="data-text"><b>รวม</b></div></div>
            <div class="number-amount-group" style="margin-right: 10px;">
                    <div class="number-amount-subgroup">
                        <div class="data"><div class="data-text"><p-skeleton width="30px"></p-skeleton></div></div>
                        <div class="data"><div class="data-text"><p-skeleton width="30px"></p-skeleton></div></div>
                        <div class="data"><div class="data-text"><p-skeleton width="30px"></p-skeleton></div></div>
                </div>
            </div>
        </div>
        <!-- <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rows]="rows"
            [totalRecords]="reportN12List.length"
            [rowsPerPageOptions]="[5, 10, 15]"
    ></p-paginator> -->
        <div style="padding-bottom: 10px;"></div>
    </div>
    <ng-template #container>
    
    <div class="report-n13-container">
        <div class="data-rows">
            <div class="data" style="width: 30%; margin-left: 20px;"><div class="data-text"><b>ที่</b></div></div>
            <div class="data" style="width: 30%"><div class="data-text"><b>Block ID</b></div></div>
            <div class="data" style="width: 30%"><div class="data-text"><b>หมายเลขเริ่มต้น</b></div></div>
            <div class="data" style="width: 30%"><div class="data-text"><b>หมายเลขสิ้นสุด</b></div></div>
            <div class="data" style="width: 30%"><div class="data-text"><b>สถานะ Block</b></div></div>
            <div class="data"><div class="data-text"><b>เอกสารอ้างอิง</b></div></div>
            <div class="number-amount-group" style="margin-right: 10px;">
                <div class="data" style="width: 96%; justify-content: center;"><div class="data-text"><b>จำนวนเลขหมาย</b></div></div>
                    <div class="number-amount-subgroup">
                        <div class="data"><div class="data-text"><b>ทั้งหมด</b></div></div>
                        <div class="data"><div class="data-text"><b>Assigned</b></div></div>
                        <div class="data"><div class="data-text"><b>Active</b></div></div>
                </div>
            </div>
        </div>
        <div *ngFor="let item of reportN13List;let index = index">
            <div class="data-rows">
                <div class="data" style="width: 30%; margin-left: 20px;"><div class="data-text">{{index+1}}</div></div>
                <div class="data" style="width: 30%"><div class="data-text">{{item.blockId}}</div></div>
                <div class="data" style="width: 30%"><div class="data-text">{{item.blockStart}}</div></div>
                <div class="data" style="width: 30%"><div class="data-text">{{item.blockEnd}}</div></div>
                <div class="data" style="width: 30%"><div class="data-text" style="color: red;"><b>{{replaceStatus(item.blockStatus)}}</b></div></div>
                <div class="data"><div class="data-text">{{item.docRef}}</div></div>
                <div class="number-amount-group" style="margin-right: 10px;">
                        <div class="number-amount-subgroup">
                            <div class="data"><div class="data-text">{{item.qtyNo}}</div></div>
                            <div class="data"><div class="data-text">{{item.qtyAssigned}}</div></div>
                            <div class="data"><div class="data-text">{{item.qtyActive}}</div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-rows">
            <div class="data" style="width: 316%; margin-left: 20px;"><div class="data-text"><b>รวม</b></div></div>
            <div class="number-amount-group" style="margin-right: 10px;">
                    <div class="number-amount-subgroup">
                        <div class="data"><div class="data-text">{{sumNumberAmountAll}}</div></div>
                        <div class="data"><div class="data-text">{{sumNumberAmountAssigned}}</div></div>
                        <div class="data"><div class="data-text">{{sumNumberAmountActive}}</div></div>
                </div>
            </div>
        </div>
        <!-- <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rows]="rows"
            [totalRecords]="reportN12List.length"
            [rowsPerPageOptions]="[5, 10, 15]"
    ></p-paginator> -->
        <div style="padding-bottom: 10px;"></div>
    </div>
</ng-template>
</div>
