.header {
    height: 100%; /* Set the height of the header */
    width: 100%;
}

.logo-container {
    background-color: #ffd100; /* Adjust background color as needed */
    padding: 33px; /* Adjust padding as needed */
}

.logo {
    position: absolute;
    top: 5px; /* Adjust top position */
    left: 20px; /* Adjust left position */
    color: red;
    cursor: pointer;
}

.user-info {
    position: absolute;
    top: 12px; /* Adjust top position */
    right: 70px; /* Adjust right position */
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    
}

.user-icon {
    margin-top: 8px;
    margin-right: 10px; /* Adjust margin as needed */
}


:host ::ng-deep {
    .p-button {
      color: black;
      font-weight: bold;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background: none;
      border: 1px solid #ffd100;
      &:focus {
        box-shadow: none;
      }
    }
    .pi{
        font-size: 22px
    }
  }
