<div class="container">
  <div class="block-header">Block ที่ได้รับการจัดสรรจาก กสทช.</div>
  <div class="line"></div>
  <div class="block-blog" *ngIf="loading; else blockBlog">
    <div class="empty-space"></div>
    <div class="data-rows">
      <div class="data-header"><div class="data-text"><b>ที่</b></div></div>
      <div class="data-detail"><div class="data-text"><b>Provider</b></div></div>
      <div class="data-detail"><div class="data-text"><b>จำนวน Block</b></div></div>
      <div class="data-detail"><div class="data-text"><b>จำนวนหมายเลข</b></div></div>
      <div class="data-footer"><div class="data-text"><b>ค่าธรรมเนียมรายเดือน (บาท)</b></div></div>
    </div>
    <div *ngFor="let i of [1,2,3,4]">
      <div class="data-rows">
        <div class="data-header"><div class="data-text"><p-skeleton width="50px"></p-skeleton></div></div>
        <div class="data-detail"><div class="data-text"><p-skeleton width="200px"></p-skeleton></div></div>
        <div class="data-detail"><div class="data-text"><p-skeleton width="200px"></p-skeleton></div></div>
        <div class="data-detail"><div class="data-text"><p-skeleton width="200px"></p-skeleton></div></div>
        <div class="data-footer"><div class="data-text"><p-skeleton width="200px"></p-skeleton></div></div>
      </div>
    </div>
    <div class="data-rows-result">
      <div class="data-header-result">รวม</div>
      <div class="data-detail"><div class="data-text"><p-skeleton width="200px"></p-skeleton></div></div>
      <div class="data-detail"><div class="data-text"><p-skeleton width="200px"></p-skeleton></div></div>
      <div class="data-footer"><div class="data-text"><p-skeleton width="200px"></p-skeleton></div></div>
    </div>
  </div>
  <ng-template #blockBlog>
    <div class="block-blog">
      <div class="empty-space"></div>
      <div class="data-rows">
        <div class="data-header"><div class="data-text"><b>ที่</b></div></div>
        <div class="data-detail"><div class="data-text"><b>Provider</b></div></div>
        <div class="data-detail"><div class="data-text"><b>จำนวน Block</b></div></div>
        <div class="data-detail"><div class="data-text"><b>จำนวนหมายเลข</b></div></div>
        <div class="data-footer"><div class="data-text"><b>ค่าธรรมเนียมรายเดือน (บาท)</b></div></div>
      </div>
      <div *ngFor="let i of blockList;let index = index">
        <div class="data-rows">
          <div class="data-header"><div class="data-text">{{ index+1 }}</div></div>
          <div class="data-detail">
            <div class="data-text">
            <p-button class="btn3" [link]="true" title="ดูรายละเอียด Assigned" (onClick)="showProviderDetail(i.provide)">
              {{ i.provide }}
          </p-button></div></div>
          <div class="data-detail"><div class="data-text">{{ i.blockAmount }}</div></div>
          <div class="data-detail"><div class="data-text">{{ i.numberAmount }}</div></div>
          <div class="data-footer"><div class="data-text">{{ i.feeAmount }}</div></div>
        </div>
      </div>
      <div class="data-rows-result">
        <div class="data-header-result">รวม</div>
        <div class="data-detail"><div class="data-text">{{ sumBlockAmount }}</div></div>
        <div class="data-detail"><div class="data-text">{{ sumNumberAmount }}</div></div>
        <div class="data-footer"><div class="data-text">{{ sumFeeAmount }}</div></div>
      </div>
    </div>
  </ng-template>
</div>
