<div class="container">
  <div class="block-header">Block ที่ได้รับการจัดสรรจาก กสทช.</div>
  <div class="line"></div>
  <div class="block-blog" *ngIf="loading; else blockBlog">
    <div class="empty-space"></div>
    <div class="data-rows">
      <div class="data-header">ที่</div>
      <div class="data-detail">Provider</div>
      <div class="data-detail">จำนวน Block</div>
      <div class="data-detail">จำนวนหมายเลข</div>
      <div class="data-footer">ค่าธรรมเนียมรายเดือน (บาท)</div>
    </div>
    <div *ngFor="let i of [1,2,3,4]">
      <div class="data-rows">
        <div class="data-header"><p-skeleton width="100%"></p-skeleton></div>
        <div class="data-detail"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        <div class="data-detail"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        <div class="data-detail"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
      </div>
    </div>
    <div class="data-rows-result">
      <div class="data-header-result">รวม</div>
      <div class="data-detail"><p-skeleton width="100%" height="100%"></p-skeleton></div>
      <div class="data-detail"><p-skeleton width="100%" height="100%"></p-skeleton></div>
      <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
    </div>
  </div>
  <ng-template #blockBlog>
    <div class="block-blog">
      <div class="empty-space"></div>
      <div class="data-rows">
        <div class="data-header">ที่</div>
        <div class="data-detail">Provider</div>
        <div class="data-detail">จำนวน Block</div>
        <div class="data-detail">จำนวนหมายเลข</div>
        <div class="data-footer">ค่าธรรมเนียมรายเดือน (บาท)</div>
      </div>
      <div *ngFor="let i of blockList">
        <div class="data-rows">
          <div class="data-header">{{ i.blockId }}</div>
          <div class="data-detail">{{ i.provide }}</div>
          <div class="data-detail">{{ i.blockAmount }}</div>
          <div class="data-detail">{{ i.numberAmount }}</div>
          <div class="data-footer">{{ i.feeAmount }}</div>
        </div>
      </div>
      <div class="data-rows-result">
        <div class="data-header-result">รวม</div>
        <div class="data-detail">{{ sumBlockAmount }}</div>
        <div class="data-detail">{{ sumNumberAmount }}</div>
        <div class="data-footer">{{ sumFeeAmount }}</div>
      </div>
    </div>
  </ng-template>
</div>
