.container {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 30px;
    position: relative;
    padding-bottom: 20px;
  }


  .assigned-admin-header {
    font-size: 22px;
    margin-top: 20px;
    padding-left: 65px;
    padding-right: 85px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .line {
    background-color: white;
    width: 100%;
    min-height: 10px;
    max-height: 10px;
    margin-top: 15px;
    position: relative;
  }

  .assigned-admin-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 95%;
    border-radius: 30px;
    margin-top: 20px;
    overflow: auto;
  }

  .data-rows {
    display: flex;
    flex-direction: rows;
    font-size: 16px;
    padding-bottom: 10px;
  }
  
  .data {
    background-color: #d9d9d9;
    //margin-top: 10px;
    margin-right: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
    display: flex;
  }

  .data-text{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
  }

  .dialog-detail-assigned{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
  }

  .dialog-data-container{
    display: flex;
    flex-direction: column;
  }
  .dialog-data-rows{
    display: flex;
    flex-direction: rows;
    font-size: 16px;
    text-align: left;
  }
  .dialog-data{
    background-color: #d9d9d9;
    margin-top: 10px;
    margin-right: 10PX;
    padding: 20px;
    width: 100%;
    display: flex;
  }

  .dropdown-data {
    background-color: #d9d9d9;
    margin-top: 10px;
    margin-right: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  .dialog-data-text{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
  }

  .active-text {
    color: green;
  }
  
  .inactive-text {
    color: red;
  }
  .inprogress-text{
    color: orange;
  }

  .error-message-title {
    font-weight: bold;
    color: red;
    justify-self: center;
    // margin-left: 360px;
    // margin-top: 10px;
  }

  :host ::ng-deep .p-dropdown {
    text-align: left;
    width: 100%;
    height: 44px;
    .p-dropdown-label {
      font-size: 16px;
      font-family: "NT";
    }
  }

  :host ::ng-deep {
    .btn1 {
      .p-button {
        background-color: #ffd100;
        border: 1px solid #ffd100;
        width: 100px;
        &:focus {
          box-shadow: none;
        }
      }
    }
  
    .excel-btn {
      .p-button {
        background-color: green;
        border: 1px solid green;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        &:focus {
          box-shadow: none;
        }
      }
    }

    .btn2 {
      .p-button {
        background-color: #545859;
        border: 1px solid #545859;
        width: 25px;
        height: 25px;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }