<div class="container">
  <div class="change-service-location-header" *ngIf="!loading;else locationHeader">
    <div>
      <b>หมายเลข</b> {{ phoneInfo.assignedStart }}-{{ phoneInfo.assignedEnd }}
      <b>จำนวน</b> {{ phoneInfo.assignedQty }} เลขหมาย<br />
      <b>ผลการค้นหา</b> {{ phoneDetailList.length }} รายการ : จำนวน {{totalPage}} หน้า<br />
      <span *ngIf="phoneInfo.stationCode!=null"><b>Station Code</b> : {{ phoneInfo.stationCode }} </span>
      <span *ngIf="phoneInfo.stationNameShort!=null"><b>ชื่อย่อ Station</b> : {{ phoneInfo.stationNameShort }} </span>
      <span *ngIf="phoneInfo.stationNameTh!=null"><b>ชื่อ Station (ไทย)</b> : {{ phoneInfo.stationNameTh }} </span>
      <span *ngIf="phoneInfo.stationNameEn!=null"><b>ชื่อ Station (อังกฤษ)</b> : {{ phoneInfo.stationNameEn }}</span>
    </div>
    <p-button label="excel" class="excel-btn" (onClick)="exportExcel()"></p-button>
  </div>
  <ng-template #locationHeader>
    <div class="change-service-location-header">
      <div style="display: flex; flex-direction: column;">
        <div style="display: flex; flex-direction: rows; white-space: pre;">
          <b>หมายเลข </b><p-skeleton width="1135px"></p-skeleton>
        </div>
        <div style="display: flex; flex-direction: rows; white-space: pre;">
          <b>ผลการค้นหา </b> <p-skeleton width="1110px"></p-skeleton>
        </div>
        <div style="display: flex; flex-direction: rows; white-space: pre;">
          <b>Station Code : </b><p-skeleton width="1090px"></p-skeleton>
        </div>
      </div>
    </div>
  </ng-template>
  <div class="line"></div>
  <div class="change-service-location-container" *ngIf="!loading; else locationContainer">
    <div class="data-rows">
      <div class="data" style="width: 30%; margin-left: 30px">
        <div class="data-text"><b>ที่</b></div>
      </div>
      <div class="data"><div class="data-text"><b>หมายเลข</b></div></div>
      <div class="data">
        <div class="data-text"><b>ศูนย์บริการฯ <br />(Service Location)</b></div>
      </div>
      <div class="data"><div class="data-text"><b>สถานะใน CRM</b></div></div>
      <div class="data"><div class="data-text"><b>ข้อมูลล่าสุดโดย</b></div></div>
      <div class="data"><div class="data-text"><b>ข้อมูลล่าสุดเมื่อ</b></div></div>
      <div class="data" style="width: 50%; margin-right: 30px">
        <div class="data-text"><b>Action</b></div>
      </div>
    </div>
    <div class="data-rows" *ngFor="let i of pagedData; let index = index">
      <div class="data" style="width: 30%; margin-left: 30px">
        <div class="data-text">{{ index + first + 1 }}</div>
      </div>
      <div class="data">
        <div class="data-text">{{ i.serviceNo }}</div>
      </div>
      <div class="data">
        <div class="data-text">{{ i.locationCode }}</div>
      </div>
      <div class="data">
        <div
          class="data-text"
          [ngClass]="{
            'success-text': i.crmStatus == '1',
            'false-text': i.crmStatus == '2'
          }"
        >
          <b>{{ i.crmStatus =='1' ? 'Active':i.crmStatus =='2' ? 'Inactive':''}}</b>
        </div>
      </div>
      <div class="data">
        <div class="data-text">{{ i.modifiedBy }}</div>
      </div>
      <div class="data">
        <div class="data-text">{{ i.crmLastModified!=null ? convertDate(i.crmLastModified) : '' }}</div>
      </div>
      <div class="data" style="width: 50%; margin-right: 30px">
        <div
          class="data-text"
          *ngIf="i.crmStatus == '2'; else showButton"
        >
          <p-button
            icon="pi pi-search"
            title="ดูแลรายละเอียดเลขหมาย"
            class="btn2"
            (onClick)="showPhoneInfo(i.serviceNo)"
          ></p-button>
          <div style="padding: 6px"></div>
          <p-button
            icon="pi pi-pencil"
            title="แก้ไขศูนย์บริการ"
            class="btn2"
            (onClick)="changeServiceLocation(i)"
          ></p-button>
        </div>
        <ng-template #showButton>
          <div class="data-text">
            <p-button
              icon="pi pi-search"
              title="ดูแลรายละเอียดเลขหมาย"
              class="btn2"
              (onClick)="showPhoneInfo(i.serviceNo)"
            ></p-button>
          </div>
        </ng-template>
      </div>
    </div>
    <div *ngIf="detailLoading; else detailBlog">
      <p-dialog
        header="Header"
        [(visible)]="visible"
        [modal]="true"
        [style]="{ width: '50vw' }"
        [draggable]="false"
        [resizable]="false"
      >
        <ng-template pTemplate="header">
          <div class="dialog-detail-assigned">
            หมายเลข :
            <div style="margin-top: 5px; margin-left: 10px">
              <p-skeleton width="630px" height="18px"></p-skeleton>
            </div>
          </div>
        </ng-template>
        <div class="dialog-data-container">
          <div class="dialog-data-rows">
            <div class="dialog-data">ศูนย์บริการ (Service Location)</div>
            <div class="dialog-data">
              <p-skeleton width="100%" height="100%"></p-skeleton>
            </div>
          </div>
          <div class="dialog-data-rows">
            <div class="dialog-data">สถานะใน CRM</div>
            <div class="dialog-data">
              <p-skeleton width="100%" height="100%"></p-skeleton>
            </div>
          </div>
          <div class="dialog-data-rows">
            <div class="dialog-data">ข้อมูลล่าสุดเมื่อ</div>
            <div class="dialog-data">
              <p-skeleton width="100%" height="100%"></p-skeleton>
            </div>
          </div>
          <div class="dialog-data-rows">
            <div class="dialog-data">ข้อมูลล่าสุดโดย</div>
            <div class="dialog-data">
              <p-skeleton width="100%" height="100%"></p-skeleton>
            </div>
          </div>
        </div>
      </p-dialog>
    </div>
    <ng-template #detailBlog>
      <p-dialog
        header="Header"
        [(visible)]="visible"
        [modal]="true"
        [style]="{ width: '50vw' }"
        [draggable]="false"
        [resizable]="false"
      >
        <ng-template pTemplate="header">
          <div class="dialog-detail-assigned">หมายเลข : {{ temp.serviceNo }}</div>
        </ng-template>
        <div class="dialog-data-container">
          <div class="dialog-data-rows">
            <div class="dialog-data">
                <div class="dialog-data-text">
                ศูนย์บริการ (Service Location)
                </div>
            </div>
            <div class="dropdown-data">
                <p-dropdown [options]="serviceLocation" [(ngModel)]="selectedLocation" [group]="true">
                <ng-template let-group pTemplate="group">
                  <div class="flex align-items-center">
                    <span>{{ group.label }}</span>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="dialog-data-rows">
            <div class="dialog-data"><div class="dialog-data-text">สถานะใน CRM</div></div>
            <div class="dialog-data"><div class="dialog-data-text">{{ temp.crmStatus == '1'?'Active':'Inactive'}}</div></div>
          </div>
          <div class="dialog-data-rows">
            <div class="dialog-data"><div class="dialog-data-text">ข้อมูลล่าสุดเมื่อ</div></div>
            <div class="dialog-data"><div class="dialog-data-text">{{ temp.crmLastModified != null ? convertDate(temp.crmLastModified) : '' }}</div></div>
          </div>
          <div class="dialog-data-rows">
            <div class="dialog-data"><div class="dialog-data-text">ข้อมูลล่าสุดโดย</div></div>
            <div class="dialog-data"><div class="dialog-data-text">{{temp.modifiedBy}}</div></div>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <p-confirmDialog></p-confirmDialog>
          <p-button
            icon="pi pi-check"
            (onClick)="Confirm(temp.serviceNo)"
            label="บันทึกการแก้ไข"
            pAutoFocus
            [autofocus]="true"
            severity="success"
          ></p-button>
          <p-button
            icon="pi pi-check"
            (click)="visible = false"
            label="ยกเลิก"
            pAutoFocus
            [autofocus]="true"
            severity="danger"
          ></p-button>
        </ng-template>
      </p-dialog>
    </ng-template>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="phoneDetailList.length"
      [rowsPerPageOptions]="[5, 10, 15]"
    ></p-paginator>
  </div>
  <ng-template #locationContainer>
    <div class="change-service-location-container">
      <div class="data-rows">
        <div class="data" style="width: 30%; margin-left: 30px">
          <div class="data-text"><b>ที่</b></div>
        </div>
        <div class="data"><div class="data-text"><b>หมายเลข</b></div></div>
        <div class="data">
          <div class="data-text"><b>ศูนย์บริการฯ <br />(Service Location)</b></div>
        </div>
        <div class="data"><div class="data-text"><b>สถานะใน CRM</b></div></div>
        <div class="data"><div class="data-text"><b>ข้อมูลล่าสุดโดย</b></div></div>
        <div class="data"><div class="data-text"><b>ข้อมูลล่าสุดเมื่อ</b></div></div>
        <div class="data" style="width: 50%; margin-right: 30px">
          <div class="data-text"><b>Action</b></div>
        </div>
      </div>
      <div *ngFor="let i of[1,2,3]">
      <div class="data-rows">
        <div class="data" style="width: 30%; margin-left: 30px">
          <div class="data-text"><p-skeleton width="40px"></p-skeleton></div>
        </div>
        <div class="data">
          <div class="data-text"><p-skeleton width="150px"></p-skeleton></div>
        </div>
        <div class="data">
          <div class="data-text"><p-skeleton width="150px"></p-skeleton></div>
        </div>
        <div class="data">
          <div class="data-text">
            <p-skeleton width="150px"></p-skeleton>
          </div>
        </div>
        <div class="data">
          <div class="data-text"><p-skeleton width="150px"></p-skeleton></div>
        </div>
        <div class="data">
          <div class="data-text"><p-skeleton width="150px"></p-skeleton></div>
        </div>
        <div class="data" style="width: 50%; margin-right: 30px">
          <div class="data-text">
          <p-skeleton width="70px"></p-skeleton>
          </div>
        </div>
      </div>
    </div>
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="phoneDetailList.length"
        [rowsPerPageOptions]="[5, 10, 15]"
      ></p-paginator>
    </div>
  </ng-template>
  
</div>
