<form [formGroup]="phoneForm" (ngSubmit)="Search(phoneForm)">
  <div class="container">
    <div class="header-group">
      <div class="phone-info-group">
        <div class="phone-info-input">
          <input
            type="text"
            pInputText
            placeholder="ค้นหาเลขหมาย"
            formControlName="phoneInfo"
            style="width: 100%"
            maxlength="9"
            [(ngModel)]="phoneSearch"
          />
        </div>
        <div class="search-button">
          <p-button class="btn1" type="submit" label="ค้นหา" [loading]="loading"></p-button>
        </div>
      </div>
      <div
        *ngIf="
          phoneForm.get('phoneInfo')!.invalid &&
          (phoneForm.get('phoneInfo')!.dirty ||
            phoneForm.get('phoneInfo')!.touched) &&
          valid()
        "
        class="error-message-title"
      >
        กรุณากรอกเฉพาะตัวเลข
      </div>
      <div
        class="error-message-title"
        *ngIf="
          phoneForm.get('phoneInfo')!.invalid &&
          (phoneForm.get('phoneInfo')!.touched || checkEmpty) &&
          required()
        "
      >
        กรุณากรอกข้อมูล
      </div>
    </div>
    <div class="line"></div>
    <div class="phone-blog" *ngIf="responeLoading; else phoneBlog">
      <div class="phone-info-header">
      <div class="phone-info">ผลการค้นหา : </div>
      <div class="skeleton">
      <p-skeleton width="1124px" height="16px"></p-skeleton>
    </div>
    </div>
      <div class="data-container">
        <div class="data-rows">
          <div class="data-header"><b>ศูนย์บริการ (Service Location)</b></div>
          <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        </div>
        <div class="data-rows">
          <div class="data-header"><b>สถานะใน CRM</b></div>
          <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        </div>
        <div class="data-rows">
          <div class="data-header"><b>Provider</b></div>
          <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        </div>
        <div class="data-rows">
          <div class="data-header"><b>Block</b></div>
          <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        </div>
        <div class="data-rows">
          <div class="data-header"><b>Assigned</b></div>
          <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        </div>
        <div class="data-rows">
          <div class="data-header"><b>ข้อมูลล่าสุด</b></div>
          <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        </div>
      </div>
    </div>
    <ng-template #phoneBlog>
      <div class="phone-blog" *ngIf="showInfo">
        <div class="phone-info">ผลการค้นหา : {{ phoneInfo.serviceNo }}</div>
        <div class="data-container">
          <div class="data-rows">
            <div class="data-header"><div class="data-text"><b>ศูนย์บริการ (Service Location)</b></div></div>
            <div class="data-footer">
              <ng-container *ngIf="serviceCenter!=null; else noLocation">
                <p-button class="btn3" [link]="true" title="แก้ไขศูนย์บริการ" (onClick)="changeServiceLocation(phoneInfo)">
                  {{ serviceCenter.locationName }} ({{phoneInfo.locationCode}})<br>ส่วนงาน {{ serviceCenter.sector }} / ฝ่าย {{ serviceCenter.department }} / สำนัก {{ serviceCenter.region }}
                </p-button>
              </ng-container>
              <ng-template #noLocation>
                <div style="color: red;"> No Location (ไม่พบศูนย์บริการฯ)</div>
              </ng-template>
            </div>
          </div>
          <div class="data-rows">
            <div class="data-header"><b>สถานะใน CRM</b></div>
            <div class="data-footer" style="display: flex;">
              <ng-container *ngIf="crmAsset!=null; else noCrmStatus">
                <span [ngClass]="{
                  'active-status': crmAsset.telnoStatus===1,
                  'inactive-status': block.blockStatus === 2
                }">
                  {{crmAsset.telnoStatus===1?'Active' : 'Inactive'}} 
                </span>
                <span>ข้อมูลล่าสุดเมื่อ {{convertDate(crmAsset.modifiedOn)}}</span>
              </ng-container>
              <ng-template #noCrmStatus>
                <div style="color: red;"> ไม่พบใน CRM</div>
              </ng-template>
            </div>
          </div>
          <div class="data-rows">
            <div class="data-header"><div class="data-text"><b>Provider</b></div></div>
            <div class="data-footer">{{ provider.providerName!=null?provider.providerName:'' }} ({{provider.providerDesc!=null?provider.providerDesc:''}})</div>
          </div>
          <div class="data-rows">
            <div class="data-header"><div class="data-text"><b>Block</b></div></div>
            <div class="data-footer">
              <p-button class="btn3" [link]="true" title="ดูรายละเอียด Block" (onClick)="showBlockDetail(phoneInfo.serviceNo)">
              <span>Block ID {{block.blockId}}<br>กลุ่มเลขหมาย {{block.blockStart}}-{{block.blockEnd}}<br><span>สถานะ Block <span [ngClass]="{
                'active-text': block.blockStatus === 1,
                'inactive-text': block.blockStatus === 0,
                'inprogress-text': block.blockStatus === 2
              }">
                {{ block.blockStatus === 1 ? 'ใช้งาน' : block.blockStatus === 0 ? 'คืน กสทช. แล้ว' : 'อยู่ในระหว่างดำเนินการคืน กสทช.' }}
              </span></span></span>
                </p-button> 
            </div>
          </div>
          <div class="data-rows">
            <div class="data-header"><div class="data-text"><b>Assigned</b></div></div>
            <div class="data-footer">
              <ng-container *ngIf="assigned!=null; else noAssigned">
                <p-button class="btn3" [link]="true" title="ดูรายละเอียด Assigned" (onClick)="showAssignedDetail(phoneInfo.serviceNo)">
                  Assigned ID {{assigned.assignedId}}<br>กลุ่มเลขหมาย {{assigned.assignedStart}}-{{assigned.assignedEnd}} จำนวน {{assigned.assignedQty}} เลขหมาย
                </p-button>
              </ng-container>
              <ng-template #noAssigned>
                <div style="color: red;"> หมายเลขนี้ยังไม่มีข้อมูลการ Assigned</div>
              </ng-template>
              </div>
          </div>
          <ng-container *ngIf="crmAsset!=null; else modifiedByBlog">
            <div class="data-rows">
              <div class="data-header"><div class="data-text"><b>ข้อมูลล่าสุดโดย</b></div></div>
              <div class="data-footer">
                {{ modifiedBy!=null?modifiedBy:'' }} เมื่อ {{ phoneInfo.crmLastModified > phoneInfo.lastModified ? convertDate(phoneInfo.crmLastModified) : phoneInfo.crmLastModified < phoneInfo.lastModified ? convertDate(phoneInfo.lastModified) : '' }}</div>
            </div>
          </ng-container>
          <ng-template #modifiedByBlog>
        </ng-template>
          <div style="padding-bottom: 10px;"></div>
        </div>
      </div>
        <div class="phone-blog" *ngIf="notFound">
          <div class="phone-info">ผลการค้นหา : ไม่พบเลขหมาย</div>
          <div class="data-container">
            <div class="data-rows">
              <div class="data-header"><div class="data-text"><b>ศูนย์บริการ (Service Location)</b></div></div>
              <div class="data-footer">-</div>
            </div>
            <div class="data-rows">
              <div class="data-header"><b>สถานะใน CRM</b></div>
              <div class="data-footer" style="display: flex;">
                -
              </div>
            </div>
            <div class="data-rows">
              <div class="data-header"><div class="data-text"><b>Provider</b></div></div>
              <div class="data-footer">-</div>
            </div>
            <div class="data-rows">
              <div class="data-header"><div class="data-text"><b>Block</b></div></div>
              <div class="data-footer">
                -
                  
              </div>
            </div>
            <div class="data-rows">
              <div class="data-header"><div class="data-text"><b>Assigned</b></div></div>
              <div class="data-footer">
                -
                </div>
            </div>
            <div class="data-rows">
              <div class="data-header"><div class="data-text"><b>ข้อมูลล่าสุดโดย</b></div></div>
              <div class="data-footer">-</div>
            </div>
            <div style="padding-bottom: 10px;"></div>
          </div>
        </div>
    </ng-template>
  </div>
</form>
<p-dialog
        header="Header"
        [(visible)]="visible"
        [modal]="true"
        [style]="{ width: '50vw' }"
        [draggable]="false"
        [resizable]="false"
      >
        <ng-template pTemplate="header">
          <div class="dialog-detail-assigned">หมายเลข : {{ temp.serviceNo }}</div>
        </ng-template>
        <div class="dialog-data-container">
          <div class="dialog-data-rows">
            <div class="dialog-data">
                <div class="dialog-data-text">
                ศูนย์บริการ (Service Location)
                </div>
            </div>
            <div class="dropdown-data">
                <p-dropdown [options]="serviceLocation" [(ngModel)]="selectedLocation" [group]="true">
                <ng-template let-group pTemplate="group">
                  <div class="flex align-items-center">
                    <span>{{ group.label }}</span>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="dialog-data-rows">
            <div class="dialog-data"><div class="dialog-data-text">สถานะใน CRM</div></div>
            <div class="dialog-data"><div class="dialog-data-text">{{ temp.crmStatus == '1'?'Active':'Inactive'}}</div></div>
          </div>
          <div class="dialog-data-rows">
            <div class="dialog-data"><div class="dialog-data-text">ข้อมูลล่าสุดเมื่อ</div></div>
            <div class="dialog-data"><div class="dialog-data-text">{{ temp.crmLastModified > temp.lastModified ? convertDate(temp.crmLastModified) : temp.crmLastModified < temp.lastModified ? convertDate(temp.lastModified) : '' }}</div></div>
          </div>
          <div class="dialog-data-rows">
            <div class="dialog-data"><div class="dialog-data-text">ข้อมูลล่าสุดโดย</div></div>
            <div class="dialog-data"><div class="dialog-data-text">{{modifiedBy}}</div></div>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <p-confirmDialog></p-confirmDialog>
          <p-button
            icon="pi pi-check"
            (onClick)="Confirm(temp.serviceNo)"
            label="บันทึกการแก้ไข"
            pAutoFocus
            [autofocus]="true"
            severity="success"
            [loading]=confirmLoading
          ></p-button>
          <p-button
            icon="pi pi-check"
            (click)="visible = false"
            label="ยกเลิก"
            pAutoFocus
            [autofocus]="true"
            severity="danger"
            [loading]=confirmLoading
          ></p-button>
        </ng-template>
      </p-dialog>
