<form [formGroup]="phoneForm" (ngSubmit)="Search(phoneForm)">
  <div class="container">
    <div class="header-group">
      <div class="phone-info-group">
        <div class="phone-info-input">
          <input
            type="text"
            pInputText
            placeholder="ค้นหาเลขหมาย"
            formControlName="phoneInfo"
            style="width: 100%"
            [(ngModel)]="phoneSearch"
          />
        </div>
        <div class="search-button">
          <p-button class="btn1" type="submit" label="ค้นหา" [loading]="loading"></p-button>
        </div>
      </div>
      <div
        *ngIf="
          phoneForm.get('phoneInfo')!.invalid &&
          (phoneForm.get('phoneInfo')!.dirty ||
            phoneForm.get('phoneInfo')!.touched) &&
          valid()
        "
        class="error-message-title"
      >
        กรุณากรอกเฉพาะตัวเลข
      </div>
      <div
        class="error-message-title"
        *ngIf="
          phoneForm.get('phoneInfo')!.invalid &&
          (phoneForm.get('phoneInfo')!.touched || checkEmpty) &&
          required()
        "
      >
        กรุณากรอกข้อมูล
      </div>
    </div>
    <div class="line"></div>
    <div class="phone-blog" *ngIf="responeLoading; else phoneBlog">
      <div class="phone-info-header">
      <div class="phone-info">ผลการค้นหา : </div>
      <div class="skeleton">
      <p-skeleton width="1124px" height="16px"></p-skeleton>
    </div>
    </div>
      <div class="data-container">
        <div class="data-rows">
          <div class="data-header">ศูนย์บริการ (Service Location)</div>
          <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        </div>
        <div class="data-rows">
          <div class="data-header">สถานะใน CRM</div>
          <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        </div>
        <div class="data-rows">
          <div class="data-header">Provider</div>
          <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        </div>
        <div class="data-rows">
          <div class="data-header">Block</div>
          <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        </div>
        <div class="data-rows">
          <div class="data-header">Assigned</div>
          <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        </div>
        <div class="data-rows">
          <div class="data-header">ข้อมูลล่าสุด</div>
          <div class="data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        </div>
      </div>
    </div>
    <ng-template #phoneBlog>
      <div class="phone-blog" *ngIf="showInfo">
        <div class="phone-info">ผลการค้นหา : {{ phoneInfo.phone }}</div>
        <div class="data-container">
          <div class="data-rows">
            <div class="data-header">ศูนย์บริการ (Service Location)</div>
            <div class="data-footer">{{ phoneInfo.serviceLocation }}</div>
          </div>
          <div class="data-rows">
            <div class="data-header">สถานะใน CRM</div>
            <div class="data-footer" style="display: flex;">
              <div *ngFor="let data of splitCrmStatus(phoneInfo.crmStatus)" [ngClass]="{'active-text': isActive(data),'inactive-text': isInactive(data),'inprogress-text':isInprogress(data)}">{{data}}</div>
            </div>
          </div>
          <div class="data-rows">
            <div class="data-header">Provider</div>
            <div class="data-footer">{{ phoneInfo.provider }}</div>
          </div>
          <div class="data-rows">
            <div class="data-header">Block</div>
            <div class="data-footer">
              <!-- <span [ngClass]="{'active-text': isActive(phoneInfo.block), 'inactive-text': isInactive(phoneInfo.block) , 'inprogress-text': isInprogress(phoneInfo.block)}"></span> -->
                <p-button class="btn3" [link]="true" title="ดูรายละเอียด Block" (onClick)="showBlockDetail(phoneInfo.phone)" *ngIf="splitPhoneBlock(phoneInfo.block)!='-';else notFoundText">
                  <div *ngFor="let data of splitPhoneBlock(phoneInfo.block)" [ngClass]="{'active-text': isActive(data),'inactive-text': isInactive(data),'inprogress-text':isInprogress(data)}">{{data}}</div>
                </p-button>
                <ng-template #notFoundText>
                  <div>-</div>
                </ng-template>
                
            </div>
          </div>
          <div class="data-rows">
            <div class="data-header">Assigned</div>
            <div class="data-footer">
              <p-button class="btn3" [link]="true" title="ดูรายละเอียด Assigned" (onClick)="showAssignedDetail(phoneInfo.phone)" *ngIf="splitPhoneBlock(phoneInfo.block)!='-';else notFoundText">
                {{ phoneInfo.assigned }}
              </p-button>
              <ng-template #notFoundText>
                <div>-</div>
              </ng-template>
              </div>
          </div>
          <div class="data-rows">
            <div class="data-header">ข้อมูลล่าสุด</div>
            <div class="data-footer">{{ phoneInfo.lastestBy }}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</form>
