.container {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 66px - 124px);
  border-radius: 30px;
  position: relative;
  padding-bottom: 30px;
}

.line {
  background-color: white;
  width: 100%;
  min-height: 10px;
  max-height: 10px;
  margin-top: 15px;
  position: relative;
}

.phone-info-group {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}

.phone-info-input {
  margin-right: 10px;
  width: 40%;
}

.phone-search-button {
  color: #ffd100;
}

.phone-blog {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 95%;
  height: 100%;
  border-radius: 30px;
  margin-top: 20px;
  overflow: auto;
}
.phone-info {
  font-weight: bold;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 10px;
}
.data-container {
  display: flex;
  flex-direction: column;
}
.data-rows {
  display: flex;
  flex-direction: rows;
  font-size: 16px;
}
.data-header {
  background-color: #d9d9d9;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 10px;
  padding: 20px;
  width: 100%;
  display: flex;
}
.data-footer {
  background-color: #d9d9d9;
  margin-top: 10px;
  margin-right: 30px;
  padding: 20px;
  width: 100%;
}

.data-text {
  display: flex;
  justify-content: left;
  align-self: center;
  width: 100%;
}
.error-message-title {
  font-weight: bold;
  color: red;
  justify-self: center;
  margin-left: 360px;
  margin-top: 10px;
}

.header-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.phone-info-header {
  display: flex;
  flex-direction: row;
}

.skeleton {
  margin-top: 13px;
  margin-left: 10px;
}

.active-text {
  color: green;
  white-space: pre;
}

.inactive-text {
  color: red;
}

.inprogress-text {
  color: orange;
}

.active-status {
  color: green;
  white-space: pre;
}

.inactive-status {
  color: gray;
  white-space: pre;
}

.dialog-detail-assigned {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.dialog-data-container {
  display: flex;
  flex-direction: column;
}
.dialog-data-rows {
  display: flex;
  flex-direction: rows;
  font-size: 16px;
  text-align: left;
}
.dialog-data {
  background-color: #d9d9d9;
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;
  width: 100%;
  font-weight: bold;
  display: flex;
}

.dropdown-data {
  background-color: #d9d9d9;
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.dialog-data-text {
  display: flex;
  align-self: center;
  width: 100%;
}

:host ::ng-deep {
  .btn1 {
    .p-button {
      background-color: #ffd100;
      border: 1px solid #ffd100;
      width: 100px;
      &:focus {
        box-shadow: none;
      }
    }
  }

  .p-dropdown {
    text-align: left;
    width: 100%;
    height: 44px;
    .p-dropdown-label {
      font-size: 16px;
      font-family: "NT";
    }
  }

  .btn2 {
    .p-button {
      background-color: #545859;
      border: 1px solid #545859;
      width: 30px;
      height: 30px;
      &:focus {
        box-shadow: none;
      }
    }
  }

  .btn3 {
    .p-button {
      color: black;
      text-decoration: underline;
      text-align: left;
      padding: 0px;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
