<form [formGroup]="blockForm" (ngSubmit)="search(blockForm)">
  <div class="container">
    <div class="block-search-header">ค้นหา Block</div>
    <div class="line"></div>
    <div class="block-search-detail">
      <div class="block-search">
        <div class="block-search-text">หมายเลขโทรศัพท์</div>
        <input
          type="text"
          pInputText
          placeholder="หมายเลขโทรศัพท์"
          formControlName="phoneInfo"
          style="width: 100%"
        />
        <div
        *ngIf="
          blockForm.get('phoneInfo')!.invalid &&
          (blockForm.get('phoneInfo')!.dirty ||
          blockForm.get('phoneInfo')!.touched) &&
          valid()
        "
        class="error-message-title"
      >
        กรุณากรอกเฉพาะตัวเลข
      </div>
      </div>
      <div class="block-search">
        <div class="block-search-text">Provider</div>
        <p-dropdown
          formControlName="provider"
          [options]="provider"
          optionLabel="name"
          value="all"
        ></p-dropdown>
      </div>
      <div class="block-search">
        <div class="block-search-text">สถานะ</div>
        <p-dropdown
          formControlName="blockStatus"
          [options]="blockStatus"
          optionLabel="name"
          value="all"
        ></p-dropdown>
      </div>
      <div class="block-search">
        <div class="block-search-text">พื้นที่/สำนัก</div>
        <p-dropdown
          formControlName="location"
          [options]="location"
          optionLabel="name"
          value="all"
        ></p-dropdown>
      </div>
    </div>
    <div class="block-search-button">
      <p-button type="submit" label="ค้นหา" [loading]="loading" class="btn1"></p-button>
    </div>
    <div class="line"></div>
    <div class="block-search-detail-container" *ngIf="loading; else blockSearchDetail">
      <div class="data-rows">
        <div class="data-header"><div class="data-detail-text">ที่</div></div>
        <div class="data-detail"><div class="data-detail-text">Block Start</div></div>
        <div class="data-detail"><div class="data-detail-text">Block End</div></div>
        <div class="data-detail"><div class="data-detail-text">จำนวน</div></div>
        <div class="data-detail"><div class="data-detail-text">Provider</div></div>
        <div class="data-detail"><div class="data-detail-text">พื้นที่/สำนัก</div></div>
        <div class="data-detail"><div class="data-detail-text">สถานะ</div></div>
        <div class="data-footer"><div class="data-detail-text">Action</div></div>
      </div>
      <div *ngFor="let i of[1,2,3]">
        <div class="data-rows">
          <div class="data-header-skeleton"><p-skeleton width="100%"></p-skeleton></div>
          <div class="data-detail-skeleton"><p-skeleton width="100%" height="100%"></p-skeleton></div>
          <div class="data-detail-skeleton"><p-skeleton width="100%" height="100%"></p-skeleton></div>
          <div class="data-detail-skeleton"><p-skeleton width="100%" height="100%"></p-skeleton></div>
          <div class="data-detail-skeleton"><p-skeleton width="100%" height="100%"></p-skeleton></div>
          <div class="data-detail-skeleton"><p-skeleton width="100%" height="100%"></p-skeleton></div>
          <div class="data-detail-skeleton"><p-skeleton width="100%" height="100%"></p-skeleton></div>
          <div class="data-footer-skeleton"><p-skeleton width="100%" height="100%"></p-skeleton></div>
        </div>
      </div>
      <div class="empty-space"></div>
    </div>
    <ng-template #blockSearchDetail>
    <div class="block-search-detail-container" *ngIf="responseLoading&&blockDetailList.length!=0">
      <div class="data-rows">
        <div class="data-header"><div class="data-detail-text">ที่</div></div>
        <div class="data-detail"><div class="data-detail-text">Block Start</div></div>
        <div class="data-detail"><div class="data-detail-text">Block End</div></div>
        <div class="data-detail"><div class="data-detail-text">จำนวน</div></div>
        <div class="data-detail"><div class="data-detail-text">Provider</div></div>
        <div class="data-detail"><div class="data-detail-text">พื้นที่/สำนัก</div></div>
        <div class="data-detail"><div class="data-detail-text">สถานะ</div></div>
        <div class="data-footer"><div class="data-detail-text">Action</div></div>
      </div>
      <div *ngFor="let i of pagedData;let index = index">
        <div class="data-rows">
          <div class="data-header"><div class="data-detail-text">{{ index+first+1 }}</div></div>
          <div class="data-detail"><div class="data-detail-text">{{ i.blockStart }}</div></div>
          <div class="data-detail"><div class="data-detail-text">{{ i.blockEnd }}</div></div>
          <div class="data-detail"><div class="data-detail-text">{{ i.amount }}</div></div>
          <div class="data-detail"><div class="data-detail-text">{{ i.provider }}</div></div>
          <div class="data-detail"><div class="data-detail-text">{{ i.location }}</div></div>
          <div class="data-detail" [ngClass]="{'success-text': i.blockStatus=='ยังใช้งาน', 'false-text': i.blockStatus=='คืน กสทช. แล้ว' , 'inprogress-text': i.blockStatus=='อยู่ระหว่างดำเนินการคืน กสทช.'}"><div class="data-detail-text">{{ i.blockStatus }}</div></div>
          <div class="data-footer" *ngIf="i.actionStatus==='F'; else assignButton">
          </div>
          <ng-template #assignButton>
            <div class="data-footer-assign">
              <div class="data-detail-text">
              <p-button icon="pi pi-at" class="btn2" (onClick)="assign(i.blockStart)"></p-button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="blockDetailList.length" [rowsPerPageOptions]="[5, 10, 15]"></p-paginator>
    </div>
      <div class="result-not-found" *ngIf="responseLoading&&blockDetailList.length===0">ไม่พบเลขหมาย {{phoneInfo}} ใน Block ของ ทีโอที</div>
  </ng-template>
  </div>
</form>
