<form [formGroup]="assignedForm" (ngSubmit)="search(assignedForm)">
<div class="container">
    <div class="assigned-search-header">ค้นหา Assigned Range</div>
    <div class="line"></div>
    <div class="assigned-search-detail">
      <div class="assigned-search">
        <div class="assigned-search-text">หมายเลขโทรศัพท์</div>
        <input
          type="text"
          pInputText
          placeholder="หมายเลขโทรศัพท์"
          formControlName="phoneInfo"
          style="width: 100%"
          [(ngModel)]="phoneInfo"
        />
        <div
        *ngIf="
          assignedForm.get('phoneInfo')!.invalid &&
          (assignedForm.get('phoneInfo')!.dirty ||
          assignedForm.get('phoneInfo')!.touched) &&
          valid('phoneInfo')
        "
        class="error-message-title"
      >
        กรุณากรอกเฉพาะตัวเลข
      </div>
      </div>
      <div class="assigned-search">
        <div class="assigned-search-text">Provider</div>
        <p-dropdown
          formControlName="provider"
          [options]="provider"
          optionLabel="name"
          value="all"
        ></p-dropdown>
      </div>
      <div class="assigned-search">
        <div class="assigned-search-text">ส่วนงาน</div>
        <p-dropdown
          formControlName="division"
          [options]="division"
          optionLabel="name"
          value="all"
        ></p-dropdown>
      </div>
      <div class="assigned-search">
        <div class="assigned-search-text">พื้นที่/สำนัก</div>
        <p-dropdown
          formControlName="location"
          [options]="location"
          optionLabel="name"
          value="all"
        ></p-dropdown>
      </div>
      <div class="assigned-search">
        <div class="assigned-search-text">Block Id</div>
        <input
          type="text"
          pInputText
          placeholder="Block Id"
          formControlName="blockId"
          style="width: 100%"
          [(ngModel)]="blockId"
        />
        <div
        *ngIf="
          assignedForm.get('blockId')!.invalid &&
          (assignedForm.get('blockId')!.dirty ||
          assignedForm.get('blockId')!.touched) &&
          valid('blockId')
        "
        class="error-message-title"
      >
        กรุณากรอกเฉพาะตัวเลข
      </div>
      </div>
    </div>
    <div class="assigned-search-button">
      <p-button type="submit" label="ค้นหา" [loading]="loading" class="btn1"></p-button>
    </div>
    <div class="line"></div>
    <div class="assigned-search-detail-container" *ngIf="loading; else assignedSearchDetail">
      <div class="data-rows">
        <div class="data-header"><div class="data-detail-text"><b>ที่</b></div></div>
        <div class="data-detail" style="width: 150%;"><div class="data-detail-text"><b>Station Code</b></div></div>
        <div class="data-detail" style="width: 150%;"><div class="data-detail-text"><b>Station Name</b></div></div>
        <div class="data-detail" style="width: 150%;"><div class="data-detail-text"><b>หมายเลขเริ่มต้น</b></div></div>
        <div class="data-detail" style="width: 150%;"><div class="data-detail-text"><b>หมายเลขสิ้นสุด</b></div></div>
        <div class="data-detail"><div class="data-detail-text"><b>จำนวนเลขหมาย</b></div></div>
        <div class="data-detail"  style="width: 80%"><div class="data-detail-text"><b>ระบุ Location</b></div></div>
        <div class="data-detail"  style="width: 80%"><div class="data-detail-text"><b>ไม่ระบุ Location</b></div></div>
        <div class="data-detail"><div class="data-detail-text"><b>Provider</b></div></div>
        <div class="data-detail" style="width: 50%"><div class="data-detail-text"><b>พื้นที่</b></div></div>
        <div class="data-footer"><div class="data-detail-text"><b>Action</b></div></div>
      </div>
      <div *ngFor="let i of pagedData;let index = index">
        <div class="data-rows">
          <div class="data-header-skeleton"><p-skeleton width="100%"></p-skeleton></div>
          <div class="data-detail-skeleton" style="width: 150%;"><p-skeleton width="100%"></p-skeleton></div>
          <div class="data-detail-skeleton" style="width: 150%;"><p-skeleton width="100%"></p-skeleton></div>
          <div class="data-detail-skeleton" style="width: 150%;"><p-skeleton width="100%"></p-skeleton></div>
          <div class="data-detail-skeleton" style="width: 150%;"><p-skeleton width="100%"></p-skeleton></div>
          <div class="data-detail-skeleton"><p-skeleton width="100%"></p-skeleton></div>
          <div class="data-detail-skeleton"  style="width: 80%"><p-skeleton width="100%"></p-skeleton></div>
          <div class="data-detail-skeleton" style="width: 80%"><p-skeleton width="100%"></p-skeleton></div>
          <div class="data-detail-skeleton"><p-skeleton width="100%"></p-skeleton></div>
          <div class="data-detail-skeleton" style="width: 50%;"><p-skeleton width="100%"></p-skeleton></div>
          <div class="data-footer-skeleton"><p-skeleton width="100%"></p-skeleton></div>
        </div>
      </div>
    </div>
    <ng-template #assignedSearchDetail>
      <div class="assigned-search-detail-container" *ngIf="responseLoading&&pagedData.length!=0">
        <div class="data-rows">
          <div class="data-header"><div class="data-detail-text"><b>ที่</b></div></div>
          <div class="data-detail" style="width: 150%;"><div class="data-detail-text"><b>Station Code</b></div></div>
          <div class="data-detail" style="width: 150%;"><div class="data-detail-text"><b>Station Name</b></div></div>
          <div class="data-detail" style="width: 150%;"><div class="data-detail-text"><b>หมายเลขเริ่มต้น</b></div></div>
          <div class="data-detail" style="width: 150%;"><div class="data-detail-text"><b>หมายเลขสิ้นสุด</b></div></div>
          <div class="data-detail"><div class="data-detail-text"><b>จำนวนเลขหมาย</b></div></div>
          <div class="data-detail"  style="width: 80%"><div class="data-detail-text"><b>ระบุ Location</b></div></div>
          <div class="data-detail"  style="width: 80%"><div class="data-detail-text"><b>ไม่ระบุ Location</b></div></div>
          <div class="data-detail"><div class="data-detail-text"><b>Provider</b></div></div>
          <div class="data-detail" style="width: 50%"><div class="data-detail-text"><b>พื้นที่</b></div></div>
          <div class="data-footer"><div class="data-detail-text"><b>Action</b></div></div>
        </div>
        <div *ngFor="let i of pagedData;let index = index">
          <div class="data-rows">
            <div class="data-header"><div class="data-detail-text">{{ index+first+1 }}</div></div>
            <div class="data-detail" style="width: 150%;"><div class="data-detail-text">{{ i.stationCode }}</div></div>
            <div class="data-detail" style="width: 150%;"><div class="data-detail-text">{{ i.stationNameTh }}</div></div>
            <div class="data-detail" style="width: 150%;"><div class="data-detail-text">{{ i.assignedStart }}</div></div>
            <div class="data-detail" style="width: 150%;"><div class="data-detail-text">{{ i.assignedEnd }}</div></div>
            <div class="data-detail"><div class="data-detail-text">{{ i.assignedQty }}</div></div>
            <div class="data-detail"  style="width: 80%"><div class="data-detail-text" style="color: green;">{{ i.okLocation==null?'0': i.okLocation}}</div></div>
            <div class="data-detail" style="width: 80%"><div class="data-detail-text" style="color: red;">{{ i.noLocation==null?'0':i.noLocation}}</div></div>
            <div class="data-detail"><div class="data-detail-text">
              {{ 
                i.providerId === 1 ? 'TOT' : 
                i.providerId === 2 ? 'TT&T' : 
                i.providerId === 3 ? 'TRUE-1' : 
                i.providerId === 4 ? 'TRUE-2' : 
                '0' 
            }}
              </div></div>
            <div class="data-detail" style="width: 50%;"><div class="data-detail-text">{{ i.assignedRegion }}</div></div>
              <div class="data-footer-assign"><div class="data-detail-text">
                <p-button icon="pi pi-exclamation-circle" title="ดูรายละเอียด Assigned"  class="btn2" (onClick)="showDialog(i.assignedId)"></p-button>
                <div style="padding: 2px;"></div>
                <p-button icon="pi pi-pencil" title="แก้ไขจำนวนพร้อมให้บริการ" class="btn2" (onClick)="editAssigned(i)" *ngIf="adminFlag==='100'"></p-button>
                <div style="padding: 2px;"></div>
                <p-button icon="pi pi-calendar" title="ดู/แก้ไขเลขหมาย" class="btn2" (onClick)="changeServiceLocation(assignedForm.value.phoneInfo,i.assignedId)"></p-button>
              </div>
              </div>
          </div>
        </div>
        <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
          <ng-template pTemplate="header">
            <div class="dialog-detail-assigned">รายละเอียดช่วง Assigned</div>
          </ng-template>
          <div class="dialog-data-container" *ngIf="detailLoading; else detailBlog">
              <div class="dialog-data-rows">
                <div class="dialog-data-header">ช่วง Assigned</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">จำนวน</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Station Code</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Station Name Th</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Station Name En</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">ตัวย่อ Station</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">โครงการ</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Service Location</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">ส่วนงาน</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Network</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Rank</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">System</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Brand</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Install Location</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Latitude</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Longitude</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">RCU</div>
                <div class="dialog-data-footer"><p-skeleton width="100%" height="100%"></p-skeleton></div>
              </div>
            </div>
          <ng-template #detailBlog>
            <div class="dialog-data-container">
              <div class="dialog-data-rows">
                <div class="dialog-data-header">ช่วง Assigned</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.assignedStart}} - {{assignedRangeDetail.assignedEnd}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">จำนวน</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.assignedQty}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Station Code</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.stationCode}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Station Name Th</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.stationNameTh}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Station Name En</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.stationNameEn}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">ตัวย่อ Station</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.stationAbbr}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">โครงการ</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.project}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Service Location</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.serviceLocation}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">ส่วนงาน</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.assignedRegion}}/{{assignedRangeDetail.assignedDept}}/{{assignedRangeDetail.assignedSector}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Network</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.network}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Rank</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.rank}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">System</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.system}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Brand</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.brandName}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Install Location</div>
                <div class="dialog-data-footer">จังหวัด{{assignedRangeDetail.locationName}} {{assignedRangeDetail.postcode}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Latitude</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.latitude}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">Longitude</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.longtitude}}</div>
              </div>
              <div class="dialog-data-rows">
                <div class="dialog-data-header">RCU</div>
                <div class="dialog-data-footer">{{assignedRangeDetail.rcu}}</div>
              </div>
            </div>
          </ng-template>
          
        </p-dialog>
        <form [formGroup]="editAssignedForm">
        <p-dialog header="Header" [(visible)]="editAssignedVisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
          <ng-template pTemplate="header">
            <div class="dialog-detail-assigned">ระบุจำนวนเลขหมายที่พร้อมให้บริการ</div>
          </ng-template>
        <div class="dialog-data-container">
          <div class="dialog-data-rows">
            <div class="dialog-data"><div class="dialog-data-text">ระบุจำนวนเลขหมาย</div></div>
            <div class="dialog-data"><div class="dialog-data-text">
              <input
              type="text"
              pInputText
              [placeholder]="'ระบุจำนวนไม่เกิน ' + placeHolderValue +' หมายเลข'"
              formControlName="assignedValue"
              style="width: 100%"
              [(ngModel)]="assignedValue"
            /></div></div>
          </div>
          <div class="dialog-data-rows">
            <div class="dialog-data"><div class="dialog-data-text">ผู้บันทึกข้อมูล</div></div>
            <div class="dialog-data"><div class="dialog-data-text">{{ username }}</div></div>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <p-confirmDialog></p-confirmDialog>
          <p-button
            icon="pi pi-check"
            (onClick)="Confirm(assignedValue)"
            label="บันทึกการแก้ไข"
            pAutoFocus
            [autofocus]="true"
            severity="success"
          ></p-button>
          <p-button
            icon="pi pi-check"
            (click)="editAssignedVisible = false"
            label="ยกเลิก"
            pAutoFocus
            [autofocus]="true"
            severity="danger"
          ></p-button>
        </ng-template>
        </p-dialog>
      </form>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="assignedRangeList.length" [rowsPerPageOptions]="[5, 10, 15]"></p-paginator>
      </div>
      <div class="result-not-found" *ngIf="responseLoading&&pagedData.length===0">ไม่พบ Assigned Range ตามเงื่อนไข</div>
    </ng-template>
</div>
</form>
